/* src/components/ContactInfo.css */
.contact-section {
  text-align: center;
  padding: 20px;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.social-links a:hover {
  color: gold;
  text-decoration: underline;
}
